.nav1{
    display: flex;
    margin: auto;
    justify-content: space-around;
    background-color: rgb(212, 212, 212);
   

}
.nav1>div:nth-child(1){
    display: flex;
    margin: auto;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
    font-weight: 900;
    width: 80%;
}
.nav1>div:nth-child(1) a{
    text-decoration: none;
    
}
.btn{
    display: flex;
    width: 20%;
    justify-content: space-around;
}
.btn img{
  width: 5%;
}
.btn button:nth-child(2){
    background-color: rgb(0, 170, 255);
    border: none;
    border-radius: 5px;
    font-weight: 1000;
    color: white;
    
}
.btn button:nth-child(3){
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: 1000;
    color: rgb(254, 0, 0);
}
.btn button:nth-child(4){
    background-color: rgb(0, 85, 255);
    border: none;
    border-radius: 5px;
    font-weight: 1000;
    color: white;
}
.logo img{
    width: 400px;
    display: block;
    margin: auto;            
}
.nav2{
    margin: auto;
    justify-content: space-around;
    align-items: center;
    background-color: #dbdbdb;
    height: 30px;
    width: 90%;
    padding: 5px;
}
.nav2>div:nth-child(1){
    display: flex;
    margin: auto;
    font-size: 20px;
    font-weight: 500;
    justify-content: space-between;
}
.nav2>div:nth-child(1) a{
    text-decoration: none;
    color: black;
}
.nav2>div:nth-child(2){
    width: 20%;
}
.nav2>div:nth-child(2) input{
    width: 70%;
    font-size: 20px;
}
.nav2>div:nth-child(2) button{
    width: 10%;
    font-size: 20px;
}
.nav2>div:nth-child(2) button:hover{
    background-color: #a5a5a5;
}
.nav2>div:nth-child(1) a:hover{
    background-color: #a5a5a5;
    color: white;
}
#ct{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 20px;
    text-align: right;
    background-color:transparent;
    border-radius: 10px;
    justify-content: space-around;
    display: flex;
}
#mobile{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: auto;
    margin-top: 20px;
    gap: 20px;
    width: 90%;
    

    
  }
  #mobile>div{
    box-shadow: rgba(0, 0, 0, 0.494) 0px 3px 8px;
    padding: 10px;
   
    border-radius: 25px;
   

    
  }
  #mobile>div button{
    background-color:rgb(61, 149, 255);
    border: none;
    display: inline;
    margin: auto;
    font-weight: bold;
    font-size: large;
    border-radius: 3px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 5px ;
    border: none;
    margin: 10px;
  }
  #mobile>div img{
      display: block;
      margin:auto;
      width: 100px;
  }
  #mobile>div p{
    font-size: large;
    font-weight: bold;
    color:crimson
}

/******************************************************************************/
.dropdown {
    float: left;
    overflow: hidden;
}
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: rgb(4, 4, 4);
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(156, 156, 156);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#a5a5a5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #a5a5a5;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: flex;
  }

